header {
  height: 450px;
  background: url(http://gdurl.com/AmLv) center center;
  background-size: cover;
}

#headerNav {
  float: right;
  margin: 30px 30px 0 0;
}
#headerNav a {
  display: inline-block;
  margin-left: 20px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}
#headerNav a:hover {
  color: black;
}

.btn {
  background: none;
  padding: 12px 22px;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: white;
  clear: both;
  padding-top: 100px;
}
h1 span {
  display: inline-block;
  padding: 10px;
  border: white solid 10px;
}

.tagline {
  text-align: center;
  color: white;
  font-weight: 700;
}

h3 {
  color: #675B66;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding: 100px 0 30px;
}

#about-me {
  background: white;
}

.faceLockup {
  max-width: 720px;
  background: white;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.faceImg {
  width: 200px;
  height: auto;
  order: 3;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

[class^='icon'] {
  height: 100px;
  width: 100px;
  background: #A3B8A7;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
[class^='icon'] path {
  fill: #675B66;
}
[class^='icon'].iconPencil {
  order: 1;
}
[class^='icon'].iconMouse {
  order: 2;
}
[class^='icon'].iconBrowser {
  order: 4;
}
[class^='icon'].iconVideo {
  order: 5;
}

.blurb {
  max-width: 620px;
  padding: 0 15px;
  margin: 50px auto;
  text-align: center;
}

#blurb {
  font-size: 24px;
  font-weight: 300;
}

@media screen and (max-width: 650px) {
  .faceLockup {
    display: block;
    text-align: center;
  }
  .faceLockup div {
    display: inline-block;
  }
  .faceLockup .faceImg {
    display: block;
    background-position: center center;
    background-repeat: no repeat;
    width: 200px;
    margin-bottom: 30px;
  }
  .faceLockup [class^='icon'] {
    margin: 10px;
  }
}
.skillLockup {
  max-width: 700px;
  margin: 100px auto;
  color: #999;
}
.skillLockup::after {
  clear: both;
  content: "";
  display: table;
}
.skillLockup .skillUnit {
  width: 350px;
  float: left;
}
.skillLockup .skillIcons {
  font-size: 0;
  margin-bottom: 30px;
}
.skillLockup .skillIcons span {
  display: inline-block;
  height: 14px;
  width: 14px;
  background-color: #675B66;
  margin-right: 2px;
  border-radius: 50%;
}
.skillLockup .skillIcons span:after {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 50%;
  margin: 2px;
}
.skillLockup .skillIcons.skill-1 span:nth-child(n+2) {
  background: #A3B8A7;
}
.skillLockup .skillIcons.skill-2 span:nth-child(n+3) {
  background: #A3B8A7;
}
.skillLockup .skillIcons.skill-3 span:nth-child(n+4) {
  background: #A3B8A7;
}
.skillLockup .skillIcons.skill-4 span:nth-child(n+5) {
  background: #A3B8A7;
}
.skillLockup .skillIcons.skill-5 span:nth-child(n+6) {
  background: #A3B8A7;
}
.skillLockup .skillIcons.skill-6 span:nth-child(n+7) {
  background: #A3B8A7;
}
.skillLockup .skillIcons.skill-7 span:nth-child(n+8) {
  background: #A3B8A7;
}
.skillLockup .skillIcons.skill-8 span:nth-child(n+9) {
  background: #A3B8A7;
}
.skillLockup .skillIcons.skill-9 span:nth-child(n+10) {
  background: #A3B8A7;
}
.skillLockup .skillIcons.skill-10 span:nth-child(n+11) {
  background: #A3B8A7;
}

@media screen and (max-width: 541px) {
  .skillLockup {
    width: 270px;
  }
}
.alt-section {
  background: #A3B8A7;
}

.thumb-container {
  max-width: 960px;
  margin: 0px auto;
  padding: 100px;
}
.thumb-container::after {
  clear: both;
  content: "";
  display: table;
}

.thumb-unit {
  display: block;
  width: 25%;
  float: left;
  position: relative;
  padding-top: 25%;
  overflow: hidden;
}
.thumb-unit .thumb-overlay {
  position: absolute;
  top: 100%;
  right: 0px;
  left: 0px;
  height: 100%;
  background: rgba(103, 91, 102, 0.5);
  text-align: center;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}
.thumb-unit .thumb-overlay strong {
  display: block;
  padding: 20px;
  color: white;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.2;
}
.thumb-unit:hover .thumb-overlay {
  position: absolute;
  top: 0%;
  right: 0px;
  left: 0px;
}

.breaking-bad {
  background-image: url(https://images8.alphacoders.com/435/435951.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.weather {
  background-image: url(http://widgetweather.net/PressKit/1.2/widget_weather_icon.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wikipedia {
  background-image: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/256/Web-Wikipedia-alt-1-Metro-icon.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tribute {
  background-image: url(http://www.smart-pa.com/wp-content/uploads/2015/11/blog1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.calculator {
  background-image: url(http://a5.mzstatic.com/us/r30/Purple71/v4/6d/ef/61/6def6136-a156-451d-e60a-c7d06e75176d/icon175x175.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clock {
  background-image: url(https://store-images.microsoft.com/image/apps.54747.9007199266527745.240aeec7-58d8-487c-8846-431eb0aee0ca.b4c4f068-c52a-454b-b7c7-7977be218861?w=180&h=180&q=60);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tic-tac-toe {
  background-image: url(http://a5.mzstatic.com/us/r30/Purple7/v4/4f/e5/f3/4fe5f367-d0cd-7975-1818-58086300d757/icon175x175.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.simon {
  background-image: url(https://jeffcolibrary.org/sites/default/files/styles/square_thumbnail/public/Simon.png?itok=1-mPg6ML);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-contact {
  background-color: white;
}
.section-contact::after {
  clear: both;
  content: "";
  display: table;
}

.social-links {
  max-width: 700px;
  margin: 0px auto 50px;
  background-color: white;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
}
.social-links a {
  display: block;
  background: white;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: height;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}
.social-links a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.bar {
  width: 250px;
  height: 0px;
  border-top: 4px solid #675B66;
  margin: 0px auto 50px;
}

.biglink {
  display: block;
  margin: 0px auto 50px;
  text-align: center;
  font-size: 60px;
  font-weight: 300;
  line-height: 1;
  color: #675B66;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  text-decoration: none;
}
.biglink:hover {
  color: #675B66;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

footer {
  height: 150px;
  background: url(http://gdurl.com/AmLv) center center;
  background-size: cover;
}
footer::after {
  clear: both;
  content: "";
  display: table;
}

#footerNav {
  margin: 30px 30px 0 0;
  padding: 60px 20px;
}
#footerNav a {
  display: inline-block;
  margin-left: 15px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
}
#footerNav a:hover {
  color: black;
}
